@import '../../styles/utils';

.WeekDay {
  width: 346px;
  height: 82px;
  background-color: $dark-grey;
  border-radius: 8px;
  padding: 8px 32px;
  display: flex;
  justify-content: space-between;

  @include onPhone {
    max-width: 346px;
    padding: 6px 20px;
  }

  &__day {
    color: $light-grey;
  }

  &__day,
  &__date {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    position: relative;
    top: 10px;
  }

  &__temperature {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    position: relative;
    top: 14px;
  }

  &__img {
    width: 108px;

    background-repeat: no-repeat;
    background-position: center;

    &--broken-clouds-day {
      background-image: url('../../../public/images/f-broken-clouds-day.png');
    }
    &--clear-sky-day {
      background-image: url('../../../public/images/f-clear-sky-day.png');
    }
    &--few-clouds-day {
      background-image: url('../../../public/images/f-few-clouds-day.png');
    }
    &--mist-day {
      background-image: url('../../../public/images/f-mist-day.png');
    }
    &--rain-day {
      background-image: url('../../../public/images/f-rain-day.png');
    }
    &--scattered-clouds-day {
      background-image: url('../../../public/images/f-scattered-clouds-day.png');
    }
    &--shower-rain-day {
      background-image: url('../../../public/images/f-shower-rain-day.png');
    }
    &--snow-day{
      background-image: url('../../../public/images/f-snow-day.png');
    }
    &--thunderstorm-day {
      background-image: url('../../../public/images/f-thunderstorm-day.png');
    }
  }
}