@import '../../styles/utils';

.WeekDay {
  width: 346px;
  height: 82px;
  background-color: $dark-gray;
  border-radius: 8px;
  padding: 8px 32px;
  display: flex;
  justify-content: space-between;

  @include onPhone {
    max-width: 346px;
    padding: 6px 20px;
  }

  &__day {
    color: $light-grey;
  }

  &__day,
  &__date {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    position: relative;
    top: 10px;
  }

  &__temperature {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    position: relative;
    top: 14px;
  }

  &__icon {
    width: 108px;
    height: 69px;
  }
}