@import '../../styles/utils';

.TodayWeather {
  @include onPhone {
    height: 360px;
  }

  &__main-info {
    position: relative;
    background-color: $dark-grey;
    border: 1px solid rgba(61, 65, 87, 0.386);
    border-radius: 8px;
    height: 348px;
    padding: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include onTablet {
      height: 350px;
    }

    @include onPhone {
      height: 264px;
      padding: 22px;
    }
  }

  &__text-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include onTablet {
      max-width: 250px;
    }

    @include onPhone {
      max-width: 164px;
    }
  }

  &__img {
    padding-top: 40px;
    width: 310px;

    background-repeat: no-repeat;
    background-position: center;

    &--broken-clouds-day {
      background-image: url('../../../public/images/broken-clouds-day.png');
    }
    &--broken-clouds-night {
      background-image: url('../../../public/images/broken-clouds-night.png');
    }
    &--clear-sky-day {
      background-image: url('../../../public/images/clear-sky-day.png');
    }
    &--clear-sky-night {
      background-image: url('../../../public/images/clear-sky-night.png');
    }
    &--few-clouds-day {
      background-image: url('../../../public/images/few-clouds-day.png');
    }
    &--few-clouds-night{
      background-image: url('../../../public/images/few-clouds-night.png');
    }
    &--mist-day {
      background-image: url('../../../public/images/mist-day.png');
    }
    &--mist-night {
      background-image: url('../../../public/images/mist-night.png');
    }
    &--rain-day {
      background-image: url('../../../public/images/rain-day.png');
    }
    &--rain-night {
      background-image: url('../../../public/images/rain-night.png');
    }
    &--scattered-clouds-day {
      background-image: url('../../../public/images/scattered-clouds-day.png');
    }
    &--scattered-clouds-night {
      background-image: url('../../../public/images/scattered-clouds-night.png');
    }
    &--shower-rain-day {
      background-image: url('../../../public/images/shower-rain-day.png');
    }
    &--shower-rain-night {
      background-image: url('../../../public/images/shower-rain-night.png');
    }
    &--snow-day {
      background-image: url('../../../public/images/snow-day.png');
    }
    &--snow-night {
      background-image: url('../../../public/images/snow-night.png');
    }
    &--thunderstorm-day {
      background-image: url('../../../public/images/thunderstorm-day.png');
    }
    &--thunderstorm-night {
      background-image: url('../../../public/images/thunderstorm-night.png');
    }

    @include onPhone {
      max-width: 228px;
    }
  }

  &__city {
    font-size: 32px;
    font-weight: 400;
    line-height: 41px;

    @include onTablet {
      font-size: 28px;
      line-height: 36px;
    }

    @include onPhone {
      line-height: 30px;

    }
  }

  &__current-date {
    @extend %medium-text;

    color: $light-grey;
    margin-top: 8px;
  }

  &__description {
    @extend %medium-text;

    color: $light-grey;
    width: 290px;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__properties {
    margin: 0 auto;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }
}